<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row content">
      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
        <h2>CCTV and Home Automation</h2>
        <h3>
          Best in class CCTV vision and Home Automation services at your doorstep.</h3> 
        </h3>
      </div>
      <div
        class="col-lg-6 pt-4 pt-lg-0"
        data-aos="fade-left"
        data-aos-delay="200"
      >
        <p>
          Control your home devices or company devices form anywhere in the world.
          Also keep a constant watch of your premises and your devices performance.
          Control every appliances, big or small with just a click. 
        </p>

        <ul>
          <li>
            <i class="ri-check-double-line"></i> 
            CCTV vision with full home appliances integration.
          </li>
          <li>
            <i class="ri-check-double-line"></i> 
            Save energy and money with best security and constant monitoring.
          </li>
          <li>
            <i class="ri-check-double-line"></i> 
            Best in class electrical components used with skilled workers.
          </li>
          <li>
            <i class="ri-check-double-line"></i> 
            Lowest price in the market. Guaranteed 👍 
          </li>
        </ul>

        <p class="font-italic">
          One step towards more organized, safe and secure lifestyle. More time to learn and evolve.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- End About Section -->
