<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="section-title" data-aos="fade-right">
          <h2>Services</h2>
          <p>
            Our service include camera installation VGA and IP for home security
            and industrial purpose.
            <br /><br />
            Offered array of camera installation services is completed as per
            quality measures.
            <br /><br />
            Cameras for the purpose of machinery performance inspection, are
            also installed.
            <br /><br />
            Our Home automation services with these services are like cherry on
            the cake. With our home automation services one can control whole
            the premises appliances while keep eye on every appliance.
          </p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bxs-cctv"></i></div>
              <h4><a href="">Camera Installation</a></h4>
              <p>CCTV (VGA or IP) for all purpose installation.</p>
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-camera-home"></i></div>
              <h4><a href="">Home security</a></h4>
              <p>Hidden camera installation for home security.</p>
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bx bx-wifi"></i></div>
              <h4><a href="">Local Access</a></h4>
              <p>
                Local access to all your devices and cameras in your phone
                without internet.
              </p>
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon"><i class="bx bx-mobile"></i></div>
              <h4><a href="">Remote Access</a></h4>
              <p>
                Remote access to all devices through the internet in your phone
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
