<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="section-title" data-aos="fade-right">
          <h2>Testimonials</h2>
          <p>
            Our clients are most valuable assets to us keeping them happy is our
            motto. Let's see what they have to say...
          </p>
        </div>
      </div>
      <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
        <div class="owl-carousel testimonials-carousel">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              It is hard to believe that i can control my waterpump form
              anywhere... it made my life easy. thanks vha :)
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img
              src="Bethany/assets/img/testimonials/testimonials-1.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Abhiram Singh</h3>
            <h4>Chemist in Kahi-Mira, Bhy(E)</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              you people good, My life become easy. Dhanayavad
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img
              src="Bethany/assets/img/testimonials/testimonials-2.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Mehabooba Hussain</h3>
            <h4>Fabrication shop, Miraroad</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              cameras are good!! good service..
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img
              src="Bethany/assets/img/testimonials/testimonials-3.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Imran patel</h3>
            <h4>Chicken Store Owner, Bhy(E)</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Obssessed by the interface of the VHA app. Unnecessarily toggling
              the switchs. Its nice.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img
              src="Bethany/assets/img/testimonials/testimonials-4.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Melvin Lobo</h3>
            <h4>Freelancer</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Their services are awesome. I had CCTV installation and is working
              fine. Good going VHA.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img
              src="Bethany/assets/img/testimonials/testimonials-5.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Asmit Gupta</h3>
            <h4>Entrepreneur, Miraroad(E)</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonials Section -->
