<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
        <div class="content">
          <h3>Why Choose VHA for your home and company?</h3>
          <p>
            Our CCTV and home automation services are unique in the market. Our
            services are reliable and most efficient. Our customer support is
            instant and contracts track and maintenance are outstanding. We
            never let our components fail, before that we fix them.
          </p>
          <div class="text-center">
            <a href="#" class="more-btn"
              >Learn More <i class="bx bx-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div
              class="col-xl-4 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-run"></i>
                <h4>Instant service</h4>
                <p>
                  We instantly response to our customers for device services.
                </p>
              </div>
            </div>

            <div
              class="col-xl-4 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-line-chart"></i>
                <h4>Constant upgrade</h4>
                <p>We keep constantly upgrading our service and devices.</p>
              </div>
            </div>

            <div
              class="col-xl-4 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-money"></i>
                <h4>Affordable</h4>
                <p>Best price and best quality in the market.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End .content-->
      </div>
    </div>
  </div>
</section>
<!-- End Why Us Section -->
