<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ===== Head tag ======= -->
    <!-- This contains many css jquery bootstrap files -->
    <%- include("../Components/headTag.ejs") %>
    <!-- ===== End Head tag ======= -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <!-- This basically contains the bar navigator at the top.. -->
    <%- include("../Components/header.ejs") %>
    <!-- End Header -->

    <br /><br /><br />
    <br />

    <!-- ================== This is sign up form section ================  -->
    <%- include("../Components/signupPageForm.ejs") %>
    <!-- ================= end sign up form section ================= -->
    <!-- Footer scripts -->
    <!-- Contains all js and more for website -->
    <%- include("../Components/footerScripts.ejs") %>
    <!-- End Footer scripts  -->
  </body>
</html>
